PORT=3000

DB_USER=tu_usuario_sql
DB_PASSWORD=tu_password_sql
DB_SERVER=localhost
DB_DATABASE=FinTrackPersonalDB
DB_PORT=1433
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true

JWT_SECRET=tu_jwt_secret_seguro
JWT_EXPIRES_IN=8h

FRONTEND_URL=http://localhost:5173
CORS_ORIGINS=http://localhost:5173

PASSWORD_RESET_EXPIRES_MINUTES=30
EMAIL_VERIFICATION_EXPIRES_MINUTES=60

MAIL_MODE=google_apps_script
GOOGLE_APPS_SCRIPT_EMAIL_URL=https://script.google.com/macros/s/TU_URL_DE_APPS_SCRIPT/exec
GOOGLE_APPS_SCRIPT_EMAIL_SECRET=tu_secret_para_apps_script
MAIL_FROM_NAME=Moni